rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper: Validasi dasar teks tidak kosong
    function isValidText(text, maxLen) {
      return text is string && text.size() > 0 && text.size() <= maxLen;
    }

    // Koleksi Transmisi (Frequency posts)
    match /transmissions/{txId} {
      // Siapapun dapat membaca feed cerita
      allow read: if true;

      // Siapapun dapat memancarkan sinyal cerita baru
      allow create: if isValidText(request.resource.data.content, 2000)
                    && request.resource.data.authorId is string;

      // Update balasan & likes jika ada
      allow update: if true;

      // Bebas dihapus oleh author dari client
      allow delete: if true;
    }

    // Koleksi Identitas Anonim & Kunci Pemulihan
    match /frequency_identities/{identityKey} {
      allow read: if true;
      allow create, update, delete: if true;
    }

    // Koleksi Laporan Pelanggaran (Reports)
    match /reports/{reportId} {
      allow read, create, update, delete: if true;
    }

    // Koleksi User Terblokir (Blacklists)
    match /blacklists/{userId} {
      allow read, create, update, delete: if true;
    }

    // Koleksi Konfigurasi Sistem (Origin IDs & Settings)
    match /sorside_config/{configId} {
      allow read, create, update, delete: if true;
    }
  }
}
